.container-info-error{
    background:#E28686;
    color: snow;
    width: 93%;
    margin: auto;
    padding: 7px;
    border-radius: 5px;
}
.container-info-error .info{
    font-size:1rem ;
}
