$color-titulo-datos-usuario: #25B4AE;
.Mis-datos-de-usuario{
    text-align: left;
    padding: 1rem;
    font-size: 0.8rem;
    color: snow;
    color: #115f5b;
    padding-top: 5px;
}
.Mis-datos-de-usuario h4{
font-size: 1.3rem;
}
.titulo-datos-usuario{
font-weight: bold;
font-size: 1.5rem;
color: snow;
background: #c93818;
text-align: center;
border-radius: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
.Mis-datos-de-usuario h4 span{
font-weight: bold;
padding-right: 10PX;
}