.imagenPerfilCliente{
    width: 50%;
    border-radius: 50%;
}
.Perfil-nombre-cliente{
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.Perfil-nombre-cliente h3{
    font-size: 1.5rem;
}
.Perfil-nombre-cliente span{
    font-size: 1.3rem;
} 


