.container-categorias{
    display: grid;
    grid-gap: 1rem;
    padding-top: 1rem;
    width: 95%;
    margin: auto;
    padding-bottom: 1rem;
    max-width: 768px;

}
.catalogo{
    background: #ff9aa2;


}