$color-texto-recuperarPassword:#FFFFFF;
$color-fondo-recuperarPassword:#ff9aa2;
$color-borde-recuperarPassword:#ffffff;
$color-boton-recuperarPassword:#c70039;
$color-boton-recuperarPassword-hover: #900c3f;
.container-pagina-recuperar-password{
    background: #8ACBDC;
}
.container-recuperar-password{
    width: 85%;
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    color: $color-texto-recuperarPassword;
}
.container-recuperar-password h1{
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
}

.container-recuperar-password h3{
    font-size: 1.5rem;
    margin-bottom: 0;
}
.container-recuperar-password input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid $color-borde-recuperarPassword;
    outline: none;
    box-shadow: 0 0 3px 1px #707070;
}
.container-recuperar-password input:hover{
    font-weight: bold;
}
.container-recuperar-password button{
    padding: 0.5rem;
    border-radius: 6px;
    background: $color-boton-recuperarPassword;
    color: $color-texto-recuperarPassword;
    font-size: 1.3rem;
    border: none;
    box-shadow: 1px 1px 3px 1px $color-borde-recuperarPassword;
    outline: none;
}

.container-recuperar-password button:hover{
    border: 1px solid $color-borde-recuperarPassword;
    outline: none;
    font-weight: bold;
    background: $color-boton-recuperarPassword-hover;
}